<div class="wrapper">
  <input checked type=radio name="slider" id="slide1" />
  <input type=radio name="slider" id="slide2" />
  <input type=radio name="slider" id="slide3" />
  <input type=radio name="slider" id="slide4" />
  <input type=radio name="slider" id="slide5" />
  
  
  <div style="position:absolute;z-index: 1;width:100%;height:100%">
      <img  style="width:100%;height:100%" src="./assets/bg.png" />
  </div>


  <div class="slider-wrapper">
    <div class=inner>
      <article>
        <!--<div class="info top-left">
          <h3>Malacca</h3></div>
          -->
        <img src="./assets/bg1.png" />
      </article>

      <article>

        <img src="./assets/bg2.png" />
      </article>

      <article>
        <img src="./assets/bg3.png" />
      </article>
    </div>
    <!-- .inner -->
  </div>

  <!-- .slider-prev-next-control -->

  <div class="slider-dot-control" style="z-index:2">
    <label for=slide1></label>
    <label for=slide2></label>
    <label for=slide3></label>
  </div>

  <!-- .slider-dot-control -->
</div>